body {
  background-color: #9b5de5;
  color: #fee440;
}
.events-page {
  margin: 0px;
  padding: 50px;
  padding-top: 80px;
  background-color: #9b5de5;
  color: #fee440;
  width: auto;
  height: auto;
}
.event-page-discr {
  text-align: center;
}
.events-container {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
}
.event-border {
  border: solid;
  border-radius: 10px;
  border-color: #fee440;
  align-items: center;
  text-align: center;
  min-width: auto;
  padding: 5px;
  box-shadow: 0 2px 2px 2px;
}
.event-border:hover {
  transform: scale(1.05);
}
.event-title {
  font-size: 20px;
  padding: 10px;
}
.event-date {
  font-size: 20px;
  padding: 10px;
}
.no-events{
  text-align: center;
  padding-top: 50px;
}
button:hover{
  cursor: pointer;
}
@media screen and (max-width: 375px) {
  .events-page{
    min-height: 160vh;
    max-height: auto;
  }
}