.home-page {
  margin: 0px;
  background-color: #9b5de5;
  /* background-image: linear-gradient(to bottom right, #9B5DE5, #F15BB5); */
  color: #fee440;
  width: auto;
  height: 160vh;
}

.dtr {
  font-size: 50px;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.formWrapper {
  padding-left: 200px;
}

.form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}





