.home-page {
  margin: 0px;
  background-color: #9b5de5;
  color: #fee440;
  width: auto;
  height: 100vh;
}

.dtr {
  font-size: 50px;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.formWrapper {
  padding-left: 300px;
}

button:hover {
  cursor: pointer;
}

#submit{
  font-style: italic;
}

.welcome {
  padding-top: 50px;
  padding: 50px;
  text-align: center;
  font-style: italic;
}

@media screen and (max-width: 375px) {
  .home-page {
    max-height: 50%;
  }
}
