.home-page {
  margin: 0px;
  background-color: #9b5de5;
  background-image: url("../../img/background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fee440;
  width: auto;
  height: 100vh;
}

.dtr {
  font-size: 50px;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.formWrapper {
  padding-left: 300px;
}

button:hover {
  cursor: pointer;
}

#submit {
  font-style: italic;
}

.welcome {
  font-size: 30px;
  padding: 180px;
  padding-top: 220px;
  max-width: 60%;
  text-align: center;
  font-style: italic;
}

@media screen and (max-width: 375px) {
  .home-page {
    max-height: auto;
    max-width: auto;
    text-align: center;
  }
  .welcome {
    padding: 40px;
    padding-top: 100px;
    font-size: 20px;
    max-width: 100%;
  }
  .formWrapper {
    padding-left: 50px;
  }
  .dtr {
    font-size: 30px;
  }
}
