.people-list-page{
  background-color: #9b5de5;
  padding: 100px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.people-list-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.people-list-container {
  justify-content: center;
  width: 40vh;
  height: 50vh;
  overflow: hidden;
  margin: 20px 20px;
  padding-top: 10px;
  border: 1px;
  border-style: solid;
  border-radius: 10px;
  box-shadow: 0.5px 4px 4px 2px;
  background-color: #FFFCEB;
  color: #4d3f5a;
}

.container-title {
  height: 40px;
  border-radius: 10px;
  font-size: x-large;
  justify-content: center;
  display: flex;
}

