.btn {
  background-color: #fee440 !important;
  color: #9b5de5 !important;
  padding: 10px;
  margin-top: 20px;
}

form {
  /* background-image: linear-gradient(to bottom right,#FEE440, #00F5D4); */
  height: 100vh;
  color: #fee440 !important;
  padding: 80px;
  background-color: #9b5de5 !important;
}
.form-label {
  padding-right: 15px;
}
.form-wrapper {
  display: flex;
  height: 100vh;
}
.form-left {
  flex: 1;
  display: flex;
  align-items: center;
}
.form-right {
  flex: 1;
  position: relative;
}
