.nav {
  display: flex;
  height: 100px;
  color: #9b5de5;
  background-color: #fee440;
  font-size: 20px;
  font-weight: bolder;
  padding-top: 30px;
  padding-left: 30px;
}
.logo{
  font-size: 40px;
}
.nav-link {
  padding-right: 50px !important;
  color: #9b5de5;
  text-align: center !important;
  align-items: center !important;
  justify-content: center !important;
}
a {
  color: white;
}
.cake {
  color: #9b5de5 !important;
}
a:hover {
  color: #9b5de5;
}
.link {
  color: #9b5de5;
  text-align: center;
}
.link:hover {
  color: #9b5de5 !important;
  transform: scale(1.03) !important;
  box-shadow: 0 2px 2px 2px !important;
  border-radius: 0.3rem !important;
}
.nav-link:hover {
  color: #9b5de5 !important;
  transform: scale(1.03) !important;
  box-shadow: 0 2px 2px 2px !important;
  border-radius: 0.3rem !important;
}
button:hover {
  cursor: pointer;
}

@media screen and (max-width: 375px) {
  .nav {
    width: auto;
    font-size: 18px;
  }
  .logo{
    font-size: 30px;
  }
}
@media screen and (max-width: 280px) {
  .nav {
    width: auto;
    font-size: 14px;
  }
  .logo{
    font-size: 28px;
  }
  .btn.btn-lg{
    font-size: 1rem;
  }

}